body {
  padding: 0px;
  font-family: cairo;
}

.conatct {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  /* background-color: #ccc; */
  padding: 0px;
}

.box {
  width: 500px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: #cdd7ff;
  padding-bottom: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.top {
  background-color: #0b2d58;
  min-height: 200px !important;
  position: relative;
}
.top span {
  position: absolute;
  top: -25px;
  width: 40%;
  height: 50px;
  background-color: #fff;
  transform: translateX(-50%);
  left: 50%;
  border-radius: 10px;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  top: -80px;
  position: absolute;
  flex-direction: column;
  margin-bottom: 80px !important;
}

.img img {
  border: 4px solid #fff;
  outline: 1px solid #ccc;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  animation: image 2.5s ease-in-out infinite;
}
@keyframes image {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.content {
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info {
  margin-top: 70px;
  text-align: center;
}
.info h1 {
  margin-bottom: 0px;
}
.info h3 {
  margin: 10px 0px;
}
.info p {
  display: flex;
  align-items: center;
  gap: 5px;
}
.info i {
  color: #327bdb;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

button {
  background-color: #143764;
  border-radius: 30px;
  padding: 10px 10px;
  cursor: pointer;
  border: none;
  outline: none;
  width: 100%;
  color: #fff;
  transition: 0.4s;
  animation: button 2.5s ease-in-out infinite;
  font-size: 17px;
  font-weight: 600;
}
button i {
  color: #fff !important;
}
@keyframes button {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

button:hover {
  opacity: 0.8;
}

button a {
  color: #fff;
}

.about_us {
  padding: 20px;
  /* margin-top: 20px; */
}
.about_us h3 {
  text-align: center;
}

.links {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 15px 0px;
  background-color: #fff;
  border-top: 1px solid #eee;
}

.links a {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #143764;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  margin-bottom: 20px;
}

.service li {
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 8px;
  font-size: 18px;
  font-weight: 600;
}

.service li span {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #143764;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conatct_us {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}
.conatct_us a {
  display: flex;
  align-items: center;
  gap: 7px;
}
.conatct_us i {
  color: #143764;
}

.conatct_us {
  padding-bottom: 20px;
}
